In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
sdf = pd.read_excel(r"C:\Users\dougl\DA12\Capstone\capstonedata1.xlsx")

In [3]:
sdf.head(1)

,Full Name,Contestant,Survivor Score,Survival Average,Challenge Wins,Challenge Appearances,Challenge Win %,Challenge Sit Outs,Votes For Bootee,Votes Against The Player,...,Jury Votes %,Season #,Season Title,Year Aired,Age,Hometown,Home State,Profession,Finish #,Gender
0,Kelly Wiglesworth,Kelly,1.34,12.26,5.87,16.1,0.36,2,6,0,...,0.43,1,Borneo,2000,24,"Los Angeles, CA",CA,River Rafting Guide,Runner-Up,Female

In [4]:
sdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 839 entries, 0 to 838
Data columns (total 26 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Full Name                    839 non-null    object
 1   Contestant                   839 non-null    object
 2   Survivor Score               839 non-null    float64
 3   Survival Average             839 non-null    float64
 4   Challenge Wins               839 non-null    float64
 5   Challenge Appearances        839 non-null    float64
 6   Challenge Win %              839 non-null    float64
 7   Challenge Sit Outs           839 non-null    object
 8   Votes For Bootee             839 non-null    object
 9   Votes Against The Player     839 non-null    object
 10  Total Votes Cast             839 non-null    object
 11  Tribal Council  Appearances  839 non-null    object
 12  Tribal Council %             839 non-null    object
 13  Weight Tribal Council Ratio  839 non-null    object
 14  Jury Votes For               839 non-null    object
 15  Total Jurors                 839 non-null    object
 16  Jury Votes %                 839 non-null    object
 17  Season #                     839 non-null    int64
 18  Season Title                 839 non-null    object
 19  Year Aired                   839 non-null    int64
 20  Age                          839 non-null    int64
 21  Hometown                     839 non-null    object
 22  Home State                   839 non-null    object
 23  Profession                   839 non-null    object
 24  Finish #                     839 non-null    object
 25  Gender                       839 non-null    object
dtypes: float64(5), int64(3), object(18)
memory usage: 170.6+ KB

In [5]:
cleanup = [
    'Challenge Sit Outs', 'Votes For Bootee', 'Votes Against The Player', 'Total Votes Cast',
    'Tribal Council  Appearances', 'Tribal Council %', 'Weight Tribal Council Ratio', 
    'Jury Votes For', 'Total Jurors', 'Jury Votes %'
]

In [6]:
for cols in cleanup:
 
    sdf[cols] = pd.to_numeric(sdf[cols], errors='coerce')

In [7]:
sdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 839 entries, 0 to 838
Data columns (total 26 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Full Name                    839 non-null    object
 1   Contestant                   839 non-null    object
 2   Survivor Score               839 non-null    float64
 3   Survival Average             839 non-null    float64
 4   Challenge Wins               839 non-null    float64
 5   Challenge Appearances        839 non-null    float64
 6   Challenge Win %              839 non-null    float64
 7   Challenge Sit Outs           712 non-null    float64
 8   Votes For Bootee             835 non-null    float64
 9   Votes Against The Player     808 non-null    float64
 10  Total Votes Cast             809 non-null    float64
 11  Tribal Council  Appearances  809 non-null    float64
 12  Tribal Council %             836 non-null    float64
 13  Weight Tribal Council Ratio  836 non-null    float64
 14  Jury Votes For               123 non-null    float64
 15  Total Jurors                 123 non-null    float64
 16  Jury Votes %                 123 non-null    float64
 17  Season #                     839 non-null    int64
 18  Season Title                 839 non-null    object
 19  Year Aired                   839 non-null    int64
 20  Age                          839 non-null    int64
 21  Hometown                     839 non-null    object
 22  Home State                   839 non-null    object
 23  Profession                   839 non-null    object
 24  Finish #                     839 non-null    object
 25  Gender                       839 non-null    object
dtypes: float64(15), int64(3), object(8)
memory usage: 170.6+ KB

In [8]:
sdf = sdf.drop(columns=['Contestant'])

In [9]:
sdf.head(7)

,Full Name,Survivor Score,Survival Average,Challenge Wins,Challenge Appearances,Challenge Win %,Challenge Sit Outs,Votes For Bootee,Votes Against The Player,Total Votes Cast,...,Jury Votes %,Season #,Season Title,Year Aired,Age,Hometown,Home State,Profession,Finish #,Gender
0,Kelly Wiglesworth,1.34,12.26,5.87,16.10,0.36,2.0,6.0,0.0,71.0,...,0.43,1,Borneo,2000,24,"Los Angeles, CA",CA,River Rafting Guide,Runner-Up,Female
1,Richard Hatch,1.58,7.82,1.87,16.10,0.12,0.0,9.0,6.0,70.0,...,0.57,1,Borneo,2000,39,"Providence, RI",RI,Corporate Trainer,Winner,Male
2,Rudy Boesch,1.09,3.95,1.62,15.10,0.11,3.0,10.0,8.0,71.0,...,NaN,1,Borneo,2000,72,"Virginia Beach, VA",VA,Retired Navy SEAL,3rd,Male
3,Gretchen Cordy,1.12,3.85,1.23,3.07,0.40,0.0,3.0,4.0,31.0,...,NaN,1,Borneo,2000,38,"Clarksville, TN",TN,Teacher,10th,Female
4,Sue Hawk,0.95,3.67,0.87,15.10,0.06,0.0,9.0,5.0,70.0,...,NaN,1,Borneo,2000,38,"Palmyra, WI",WI,Truck Driver,4th,Female
5,Colleen Haskell,0.57,3.51,2.56,12.07,0.21,3.0,3.0,7.0,61.0,...,NaN,1,Borneo,2000,24,"Miami, FL",FL,Student,6th,Female
6,Sean Kenniff,0.78,3.30,1.87,14.10,0.13,0.0,6.0,9.0,66.0,...,NaN,1,Borneo,2000,30,"Long Island, NY",NY,Neurologist,5th,Male

In [10]:
def cleanfinish(finish):
    if 'Winner' in finish:
        return 1
    elif 'Runner-Up' in finish:
        return 2
    else:
       
        import re
        match = re.search(r'\d+', finish)
        if match:
            return int(match.group())
        return None

sdf['Finish #'] = sdf['Finish #'].apply(cleanfinish)

In [11]:
sdf.head(1)

,Full Name,Survivor Score,Survival Average,Challenge Wins,Challenge Appearances,Challenge Win %,Challenge Sit Outs,Votes For Bootee,Votes Against The Player,Total Votes Cast,...,Jury Votes %,Season #,Season Title,Year Aired,Age,Hometown,Home State,Profession,Finish #,Gender
0,Kelly Wiglesworth,1.34,12.26,5.87,16.1,0.36,2.0,6.0,0.0,71.0,...,0.43,1,Borneo,2000,24,"Los Angeles, CA",CA,River Rafting Guide,2.0,Female

In [12]:
aggregations = {
    'Survivor Score': 'mean',
    'Survival Average': 'mean',
    'Challenge Wins': 'sum',
    'Challenge Appearances': 'sum',
    'Challenge Win %': 'mean',
    'Challenge Sit Outs': 'sum',
    'Votes For Bootee': 'sum',
    'Votes Against The Player': 'sum',
    'Total Votes Cast': 'sum',
    'Tribal Council  Appearances': 'sum',
    'Tribal Council %': 'mean',
    'Weight Tribal Council Ratio': 'mean',
    'Jury Votes For': 'sum',
    'Total Jurors': 'sum',
    'Jury Votes %': 'mean',
    'Season #': 'first',
    'Season Title': 'first',
    'Year Aired': 'first',
    'Age': 'first',
    'Hometown': 'first',
    'Home State': 'first',
    'Profession': 'first',
    'Finish #': 'first',
    'Gender': 'first'
}

In [13]:
sdf = sdf.groupby('Full Name').agg(aggregations).reset_index()

In [14]:
sdf.info()
sdf.head(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 705 entries, 0 to 704
Data columns (total 25 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Full Name                    705 non-null    object
 1   Survivor Score               705 non-null    float64
 2   Survival Average             705 non-null    float64
 3   Challenge Wins               705 non-null    float64
 4   Challenge Appearances        705 non-null    float64
 5   Challenge Win %              705 non-null    float64
 6   Challenge Sit Outs           705 non-null    float64
 7   Votes For Bootee             705 non-null    float64
 8   Votes Against The Player     705 non-null    float64
 9   Total Votes Cast             705 non-null    float64
 10  Tribal Council  Appearances  705 non-null    float64
 11  Tribal Council %             702 non-null    float64
 12  Weight Tribal Council Ratio  702 non-null    float64
 13  Jury Votes For               705 non-null    float64
 14  Total Jurors                 705 non-null    float64
 15  Jury Votes %                 116 non-null    float64
 16  Season #                     705 non-null    int64
 17  Season Title                 705 non-null    object
 18  Year Aired                   705 non-null    int64
 19  Age                          705 non-null    int64
 20  Hometown                     705 non-null    object
 21  Home State                   705 non-null    object
 22  Profession                   705 non-null    object
 23  Finish #                     671 non-null    float64
 24  Gender                       705 non-null    object
dtypes: float64(16), int64(3), object(6)
memory usage: 137.8+ KB

,Full Name,Survivor Score,Survival Average,Challenge Wins,Challenge Appearances,Challenge Win %,Challenge Sit Outs,Votes For Bootee,Votes Against The Player,Total Votes Cast,...,Jury Votes %,Season #,Season Title,Year Aired,Age,Hometown,Home State,Profession,Finish #,Gender
0,Aaron Meredith,1.18,4.42,2.65,4.29,0.62,0.0,4.0,5.0,63.0,...,NaN,39,Island of the Idols,2019,36,"Warwick, RI",RI,Gym Owner,9.0,Male
1,Aaron Reisberger,0.97,2.77,0.77,1.30,0.59,0.0,1.0,3.0,13.0,...,NaN,15,China,2007,32,"Venice, CA",CA,Surfing Instructor,11.0,Male

In [15]:
sdf.to_excel('cleanedcapstonev2.xlsx', index=True)

PermissionError: [Errno 13] Permission denied: 'cleanedcapstonev2.xlsx'

In [18]:
most_vap = sdf.loc['Votes Against The Player'].idxmax()
most_vap

KeyError: 'Votes Against The Player'